.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-layout-header-height);
}

.container {
    // width: var(--default-layout-width);
    width: 100%;
    padding: var(--padding-header);
    display: flex;
}

.content {
    flex: 1;
}

.wrapper-btn {
    position: fixed;
    right: 24px;
    //Scroll to this css
    // bottom: 8px;

    //Start
    bottom: -32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease;

    &.fade {
        bottom: 8px;
    }
}

.get-app {
    font-weight: 700;
    border-color: rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 52px;
    padding: 8px 19px;
    line-height: 1;
    margin-bottom: 12px;
}

.scroll-to-top {
    background-color: var(--primary);
    color: var(--white);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes FadeIn {
    from {
        bottom: -32px;
    }
    to {
        bottom: 8px;
    }
}
